#signup-form .form-item {
	position: relative;
}

#signup-form .form-item input {
	padding: 6px 0 6px 6px;
}

#signup-form .form-item input:hover,
#signup-form .form-item input:active,
#signup-form .form-item input:focus {
	background-color: #eee;
}

#signup-form label.error {
	background: url("../images/error.png") no-repeat scroll 5px center #FFFFFF;
	color: #222222;
	padding: 4px 9px 4px 25px;
	position: absolute;
}